body,
html {
	margin: 0;
	height: 100%;
	width: 100%;
}

#map {
	height: 100%;
}

body {
	background-color: #5a94d9;
	font-family: "Josefin Sans", sans-serif;
}
.main {
	display: grid;
	grid-template-rows: 205px 650px 30px;
	grid-template-columns: 342px 1fr;
	grid-template-areas:
		"header header"
		"sidebar content"
		"footer footer";
}

.header {
	grid-area: header;
	background-color: #5a94d9;
	color: white;
}

.full {
	width: 100%;
	font-size: 34px;
	font-family: "Josefin Sans", sans-serif;
	color: white;
}

nav {
	background-color: #5a94d9;
	margin: 0;
	padding: 0;
}

nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-style: italic;
	font-size: 32px;
	justify-content: center;
}

#logo {
	padding-top: 20px;
	padding-left: 20px;
	font-size: 90px;
	display: flex;
	align-items: flex-start;
}
#logo img {
	width: 90px;
	height: 90px;
	max-width: 100%;
	max-height: 100%;
	margin-right: 30px;
}

.header li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	border-radius: 20px;
	padding: 14px;
	max-height: 24px;
	margin-right: 10px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: white;
	color: #5a94d9;
}

li a .active {
	background-color: #4caf50;
}

.sidebar {
	color: rgb(255, 255, 255);
	grid-area: sidebar;
	padding: 10px;
	/* background-color: rgb(63, 63, 63); */
	background-color: #5a94d9;
	overflow: auto;
}
.sidebar-title {
	font-size: 24px;
	margin: 10px;
}
.map-option {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 5px;	
}
.map-icon {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border-width: 10px;
	margin-bottom: 10px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}
.map-option p {
	margin: 5px;
	padding: 0;
}
.map-icon img {
	max-width: 80%;
	max-height: 80%;
	border-radius: 50%;
	margin: 0;
	padding: 0;
}

.content {
	grid-area: content;
}
/* Rounded border */
hr.rounded {
	border-top: 8px solid white;
	width: 100%;
	border-radius: 5px;
}
.footer {
	grid-area: footer;
	padding: 10px;
	background-color: rgb(255, 255, 255);
}
#aboutproj {
	min-height: 700px;
	left: 0px;
	margin-top: 77px;
	padding: 30px;
	background: #ffffff;
	color: rgb(84, 84, 84);
}
p {
	font-size: 20px;
	line-height: 1.4;
}
#aboutproj ul {
	font-style: normal;
	font-size: 20px;
	line-height: 1.4;
}
#team {
	padding: 30px;
}
#teamimg {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.team-item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 30px;
}
.pfp {
	margin-left: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 200px;
}
.pfp img {
	width: 200px;
	height: 200px;
	max-width: 300px;
	max-height: 300px;
	border-radius: 50%;
	margin-bottom: 10px;
}
.pfp p {
	font-size: 30px;
}
.blurb {
	margin: 60px;
	margin-top: 10px;
	margin-left: 190px;
	font-size: 25px;
	line-height: 1.6;
}
.blurb p {
	font-size: 30px;
	font-weight: bold;
}
#usingmaps {
	padding: 30px;
	height: 500px;
}
#usingmaps p {
	font-size: 24px;
	line-height: 1.4;
}

/* legend styles */
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	min-width: 250px;
	min-height: 50px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

#home {
	background-color:rgb(255, 255, 255);
	color: #5a94d9;
	font-size: 30px;
	padding: 30px;
	margin-top: 77px;
}
.home img {
	width: 1200px;
	height: 600px;
}

.container {width: 500px;
  margin: 2rem auto 0;
}

.moji {
  font-size: 8em;
  text-align: center;
}

input {
  width: 100%;
  margin: 0 10px;
}

.slider {
  display: flex;
  justify-content: space-between;
}

span {
  font-weight: bold;
  color: tomato;
  min-width: 130px;
}

span:last-child {
  color: #5fcf80;
}
	

form input {
	width: 200px;
	font-family: "Josefin Sans", sans-serif;
	background-color: #5a94d9;
	color:rgb(255, 255, 255);
	border-radius: 15px;
	border-color: #5a94d9;
	font-size: large;
	padding: 15px;
}

