body,
html {
	margin: 0;
	height: 100%;
	width: 100%;
}

#map {
	height: 100%;
	z-index: 1;
}

body {
	background-color: #5a94d9;
	font-family: "Josefin Sans", sans-serif;
}
.main {
	display: grid;
	grid-template-rows: 205px 650px 30px;
	grid-template-columns: 342px 1fr;
	grid-template-areas:
		"header header"
		"sidebar content"
		"footer footer";
}

.header {
	grid-area: header;
	background-color: #5a94d9;
	color: white;
}

.full {
	width: 100%;
	font-size: 34px;
	font-family: "Josefin Sans", sans-serif;
	color: white;
}

nav {
	background-color: #5a94d9;
	margin: 0;
	padding: 0;
}

nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-style: italic;
	font-size: 32px;
	justify-content: center;
}

#logo {
	padding-top: 20px;
	padding-left: 20px;
	font-size: 90px;
	display: flex;
	align-items: flex-start;
}
#logo img {
	width: 90px;
	height: 90px;
	max-width: 100%;
	max-height: 100%;
	margin-right: 30px;
}

.header li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	border-radius: 20px;
	padding: 14px;
	max-height: 24px;
	margin-right: 10px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: white;
	color: #5a94d9;
}

li a .active {
	background-color: #4caf50;
}

.sidebar {
	color: rgb(255, 255, 255);
	grid-area: sidebar;
	padding: 10px;
	/* background-color: rgb(63, 63, 63); */
	background-color: #5a94d9;
	overflow: auto;
}
.sidebar-title {
	font-size: 24px;
	margin: 10px;
	margin-bottom: 40px;
}
.map-option {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 5px;
}
.map-icon {
	min-width: 100px;
	height: 100px;
	border-radius: 50%;
	border-width: 10px;
	margin-bottom: 10px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}
.map-option p {
	margin: 5px;
	padding: 0;
}
.map-icon img {
	max-width: 80%;
	max-height: 80%;
	border-radius: 50%;
	margin: 0;
	padding: 0;
}

.content {
	grid-area: content;
}
/* Rounded border */
hr.rounded {
	border-top: 8px solid white;
	width: 100%;
	border-radius: 5px;
}
.footer {
	grid-area: footer;
	padding: 10px;
	background-color: rgb(255, 255, 255);
}
#aboutproj {
	min-height: 700px;
	left: 0px;
	margin-top: 77px;
	padding: 30px;
	background: #ffffff;
	color: rgb(84, 84, 84);
}
p {
	font-size: 20px;
	line-height: 1.4;
}
#aboutproj ul {
	font-style: normal;
	font-size: 20px;
	line-height: 1.4;
}
#team {
	padding: 30px;
}
#teamimg {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.team-item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 30px;
}
.pfp {
	margin-left: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 200px;
}
.pfp img {
	width: 200px;
	height: 200px;
	max-width: 300px;
	max-height: 300px;
	border-radius: 50%;
	margin-bottom: 10px;
}
.pfp p {
	font-size: 30px;
}
.blurb {
	margin: 60px;
	margin-top: 10px;
	margin-left: 190px;
	font-size: 25px;
	line-height: 1.6;
}
.blurb p {
	font-size: 30px;
	font-weight: bold;
}
#usingmaps {
	padding: 30px;
	height: 500px;
}
#usingmaps p {
	font-size: 24px;
	line-height: 1.4;
}

/* legend styles */
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	min-width: 250px;
	min-height: 50px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.home {
	z-index: 2;
	background-color: rgb(255, 255, 255);
	color: #5a94d9;
	font-size: 30px;
	padding: 30px;
	margin-top: 77px;
}
.home img {
	width: 1200px;
	height: 600px;
}
.top3 {
	display: flex;
	justify-content: space-between;
}
.container {
	width: 100%;
	padding: 5px;
	text-align: center;
}
.moji {
	font-size: 3em;
	text-align: center;
}

input {
	width: 50%;
	margin: 0 10px;
}

.slider {
	display: flex;
	justify-content: space-between;
}
.sliderv {
	display: flex;
	flex-direction: column;
	width: 200px;
	position: relative;
}

span {
	font-weight: bold;
	color: tomato;
	min-width: 130px;
	font-size: 20px;
}

span:last-child {
	color: #5fcf80;
}
#diagram {
	z-index: 1;
	width: 100%;
	height: 100%;
}

form input {
	font-family: "Josefin Sans", sans-serif;
	color: rgb(255, 255, 255);
	border-radius: 15px;
	border-color: #5a94d9;
	margin: 1em;
	border: none;
	padding: 30px;
	padding-left: 60px;
	text-align: left;
	background: linear-gradient(
				-120deg,
				transparent 1em,
				#5a94d9 1.05em,
				#5a94d9 1.5em,
				transparent 1.45em,
				transparent 2em,
				#5a94d9 2.05em
			)
			top no-repeat,
		linear-gradient(
				300deg,
				transparent 1em,
				#5a94d9 0.05em,
				#5a94d9 1.5em,
				transparent 1.45em,
				transparent 2em,
				#5a94d9 2.05em
			)
			bottom no-repeat;
	background-size: 100% 50%;
	font-size: 30px;
	width: 70%;
}

#happySlider {
	width: 100%;
}
.bubble {
	background: #5a94d9;
	color: white;
	padding: 4px 12px;
	position: absolute;
	border-radius: 4px;
	font-size: 20px;
	left: 50%;
	top: 20px;
}
.bubble::after {
	content: "";
	position: absolute;
	margin-bottom: 100px;
	width: 2px;
	height: 2px;
	background: #5a94d9;
	top: -1px;
	left: 50%;
}
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 2; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content p {
	font-size: medium;
	margin-left: 200px;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	text-align: right;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
#myBtnHelp {
	float: right;
	background-color: #5a94d9;
	border: none;
}
#myBtnHelp img {
	max-width: 50px;
	cursor: pointer;
}
.paraflex {
	display: flex;
	margin-bottom: 10px;
	min-height: 150px;
}
#explore {
	padding: 15px;
	font-size: large;
	width: 220px;
	background-color: white;
	border: 3px solid white;
}
#cityinput {
	margin: 15px;
	height: 30px;
}
